<div class="col-md-6">
  <h3>Transaction details:</h3>
  <form class="edit-transaction-form" data-id="{{transaction.id}}">
    <div class="form-group">
      <label for="edit-tr-type" class="d-inline mr-6">Type:</label>
      <select class="form-select custom-select-lg d-inline" id="edit-tr-type" name="edit-tr-type" onchange="updateCategoryOptions()">
        <option value="" disabled selected>Select Type</option>
        <option value="Income">Income</option>
        <option value="Expense">Expense</option>
      </select>
      <br>
      <label for="edit-tr-category" class="d-inline mr-3">Category:</label>
      <select class="form-select custom-select-lg d-inline" id="edit-tr-category" name="edit-tr-category">
        <!-- Placeholder option -->
        <option value="" disabled selected>Select Category</option>
      </select>
    </div>
    <div class="form-group">
        <label for="tr-date" class="mr-6">Date:</label>
        <input class="custom-select-lg" type="date" id="tr-date" name="tr-date">
    </div>
    <div class="form-group">
      <label for="edit-tr-amount">Amount:</label>
      <input class="form-input" type="text" id="edit-tr-amount" name="edit-tr-amount" value="{{format_amount transaction.amount}}"/>
    </div>
    <div class="form-group">
      <label for="edit-tr-desc">Description:</label>
      <textarea class="form-input" id="edit-tr-desc" name="edit-tr-desc">{{transaction.description}}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
</div>

<script src="/js/update.js"></script>
