<div class="img-container">
  <img src="https://i.imgur.com/N2IokK1.jpg" alt="Image 1">
</div>
<div class="img-container">
  <img src="https://i.imgur.com/1EAkufp.jpg" alt="Image 2">
</div>
<div class="img-container">
  <img src="https://i.imgur.com/ZAkPRF7.jpg" alt="Image 3">
</div>
<div class="img-container">
  <img src="https://i.imgur.com/GwvB2r9.jpg" alt="Image 4">
</div>







